<div class="row">
    <div  class="form-group" *ngIf="!loadedUsers">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
	<div class="col-xl-8 col-lg-12 col-12" *ngIf="loadedUsers">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">{{'do.community' | translate }}</h4>
			</div>
			<div class="card-body table-responsive">
				<table class="table text-center">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let patient of patients ; let i = index">
							<td>{{patient.patientId}}</td>
							<td>{{patient.result.entry[0].resource.name.given[0]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>